extends ../index

include ../feedback/index

block content
    section.container
        div.main.is-rounded.with-borders
            h2.title Register
            form.form(method='post' action='/register')
                input.is-rounded.with-borders(type='text' name='name' required='' placeholder='name' autofocus='' value=name)
                input.is-rounded.with-borders(type='text' name='surname' required='' placeholder='surname' value=surname)
                input.is-rounded.with-borders(type='email' name='email' required='' placeholder='e-mail' value=email)
                input.is-rounded.with-borders(type='password' name='password' required='' placeholder='password')
                if message
                    +feedback(message)
                button.button.is-rounded.with-borders Register
