extends ../index

include ../feedback/index

block content
    section.container
        div.main.is-rounded.with-borders
            h1.title Login
            form.form(method='post' action='/login')
                input.is-rounded.with-borders(type='text' name='email' placeholder='email' autofocus='' required='' value=email)
                input.is-rounded.with-borders(type='password' name='password' placeholder='password' required='')
                if message
                    +feedback(message)
                button.button.is-rounded.with-borders Login