extends ../index

include ../feedback/index

include ../search/index
include ../results/list
include ../detail/index

block content
    div.home.is-rounded.with-borders
        h1.title Hola, #{name}!
        div.form
            form.logout(method='post' action='/logout')
                button.button.is-rounded.with-borders Logout

            +search

        if message
            +feedback(message)

        if ducks
            +results(ducks)

        if duck
            +detail(duck)