extends ../index

block content
    section.container
        div.main.is-rounded.with-borders
            h1.title Welcome to this Web Application
            div.buttons
                a.button.is-rounded.with-borders(href='/register') Register
                a.button.is-rounded.with-borders(href='/login') Login